.private-header-message, .header-message {
    margin: 12px 0;
}

.private-input-container {
    margin: 20px 0;
}

.icon-button-right {
    position: absolute;
    line-height: 1;
    border: 0;
    z-index: 2;
    width: 16px;
    height: 16px;
    top: 25%;
    right: 12px;
}

.alert-message {
    color: red;
}